CacheControl==0.14.0
Deprecated==1.2.14
Eel==0.16.0
Flask==3.0.3
GitPython==3.1.43
Jinja2==3.1.2
Mako==1.3.5
Markdown==3.5.1
MarkupSafe==2.1.3
Nuitka==2.1.6
Pillow==10.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5==5.15.10
PySimpleGUI==5.0.4
PyYAML==6.0.1
Pygments==2.16.1
SQLAlchemy==2.0.30
Werkzeug==3.0.1
absl-py==2.0.0
aiohttp-retry==2.8.3
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
altgraph==0.17.4
amqp==5.2.0
aniso8601==9.0.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==2.4.0
astunparse==1.6.3
asyncssh==2.14.2
atpublic==4.1.0
attrs==23.2.0
auto-py-to-exe==2.43.3
backcall==0.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.1.0
blinker==1.8.2
bottle-websocket==0.2.9
bottle==0.12.25
bs4==0.0.2
build==1.1.1
cachetools==5.3.2
captum==0.7.0
celery==5.4.0
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==2.1.1
cleo==2.1.0
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.1.4
configobj==5.0.8
confluent-kafka==2.3.0
contourpy==1.1.1
crashtest==0.4.1
cryptography==42.0.5
cycler==0.12.1
dask==2023.11.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
docker==7.1.0
docopt==0.6.2
dpath==2.1.6
dulwich==0.22.1
dvc-data==3.15.1
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.20.0
dvc-task==0.4.0
dvc==3.50.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.19.1
filelock==3.12.4
flatbuffers==23.5.26
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.43.1
frozenlist==1.4.1
fsspec==2024.3.1
funcy==2.0
future==1.0.0
gast==0.5.4
gevent-websocket==0.10.1
gevent==24.2.1
gitdb==4.0.11
google-auth-oauthlib==1.0.0
google-auth==2.23.4
google-pasta==0.2.0
grandalf==0.8
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
grpcio==1.59.2
gto==1.7.1
h5py==3.10.0
hdfs3==0.3.1
hdfs==2.7.3
hydra-core==1.3.2
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
intel-openmp==2021.4.0
ipykernel==6.25.2
ipython==8.12.3
iterative-telemetry==0.0.8
itsdangerous==2.2.0
jaraco.classes==3.3.1
jedi==0.19.0
joblib==1.3.2
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab_pygments==0.3.0
kafka-python==2.0.2
keras==2.14.0
keyring==24.3.1
kiwisolver==1.4.5
kombu==5.3.7
libclang==16.0.6
locket==1.0.0
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.8.0
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.2.0
mlflow==2.13.0
more-itertools==10.2.0
mpmath==1.3.0
mrjob==0.7.4
msgpack==1.0.8
multidict==6.0.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.8
networkx==3.1
numpy==1.26.0
oauthlib==3.2.2
odfpy==1.4.1
omegaconf==2.3.0
openpyxl==3.1.2
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.10.1
packaging==23.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.3
partd==1.4.1
pathspec==0.12.1
pefile==2023.2.7
pexpect==4.9.0
pickleshare==0.7.5
pip==24.0
pipreqs==0.5.0
pkginfo==1.10.0
platformdirs==3.10.0
poetry-core==1.9.0
poetry-plugin-export==1.7.0
poetry==1.8.2
prompt-toolkit==3.0.39
protobuf==4.25.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==15.0.2
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydot==2.0.0
pygit2==1.14.1
pygtrie==2.5.0
pyinstaller-hooks-contrib==2024.4
pyinstaller==6.6.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
pyspark==3.5.0
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
pywin32==306
pyzmq==25.1.1
querystring-parser==1.2.4
rapidfuzz==3.6.2
referencing==0.35.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.6
scikit-learn==1.3.2
scipy==1.11.2
scmrepo==3.3.2
semver==3.0.2
sentry-sdk==2.3.1
setproctitle==1.3.3
setuptools==65.5.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
smmap==5.0.1
soupsieve==2.5
sqlparse==0.5.0
sqltrie==0.11.0
stack-data==0.6.2
sympy==1.12
tabulate==0.9.0
tbb==2021.12.0
tensorboard-data-server==0.7.2
tensorboard==2.14.1
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.14.0
termcolor==2.3.0
threadpoolctl==3.2.0
tinycss2==1.3.0
tk==0.1.0
tomlkit==0.12.4
toolz==0.12.0
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1
tornado==6.3.3
tqdm==4.66.2
traitlets==5.10.0
trove-classifiers==2024.3.3
typer==0.12.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.13
vine==5.1.0
virtualenv==20.25.1
voluptuous==0.14.2
waitress==3.0.0
wandb==0.17.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.4
wheel==0.41.3
whichcraft==0.6.1
wrapt==1.14.1
xlrd==2.0.1
yarg==0.1.9
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.17.0
zope.event==5.0
zope.interface==6.3
zstandard==0.22.0